.navbar {
  border-top: 5px solid $accent;
  .navbar-brand {
    img {
      height: 50px;
    }
  }
}

.card {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.302), 0 1px 1px 1px rgba(60, 64, 67, 0.149);
}

label.has-input {
  width: 100%;
}

#notification-wrapper {
  z-index: 999999999;
  position: absolute;
}

#signUpModalDialog {
  margin-top: 200px;
}

.btn-link {
  border: none;
  color: currentColor;
  background-color: transparent;
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    outline: none;
  }
}
.user-avatar {
  width: 50px;
  height: 50px;
}

.btn{
  svg{
    height:1rem;
    width:1rem;
    fill:currentColor;
  }
}

.facebookIcon {
  svg{
    fill: #415A93;
    height:2rem; 
    width:2rem;
  }
}

.googleIcon {
  svg{
    fill: #D95040;
    height:2rem; 
    width:2rem;
  }
}